<div ng-controller="processesStructureController as ctrl">
    <script type="text/ng-template" id="process_renderer.html">
        {{process.processName}}
        <span ng-if="process.type == 'ComplexProcess'">
            <button type="button" class="btn btn-primary btn-sm" ng-click="openAddProcessModal(process)" data-toggle="modal" data-target="#modal">Add process</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteProcess(process)">Delete process</button>
        </span>
        <span ng-if="process.type == 'PrimitiveProcess'">
            <button type="button" class="btn btn-primary btn-sm" ng-click="openAddActivityModal(process)" data-toggle="modal" data-target="#modal">Add activity</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteProcess(process)">Delete process</button>
        </span>
        <ul class="list-group" ng-if="process.childProcesses">
            <li class="list-group-item" ng-repeat="process in process.childProcesses track by $index"
                ng-include="'process_renderer.html'">
            </li>
        </ul>
        <ul ng-if="process.activities">
            <li class="list-group-item" ng-repeat="activity in process.activities track by $index">
                {{activity.activityName}}
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteActivity(activity)">Delete activity</button>
            </li>
        </ul>
    </script>
    <div class="col-md-8">
        <ul>
            <li class="list-group-item" ng-repeat="process in structuredProcesses track by $index"
                ng-include="'process_renderer.html'"></li>
        </ul>
            <button type="button" class="btn btn-primary" ng-click="openAddProcessModal(null)" data-toggle="modal" data-target="#modal">Add process</button>
    </div>
    <div ng-include="'../partials/abstract_modal.html'"></div>
</div>