<div ng-controller="processesStructureController as ctrl">
    <script type="text/ng-template" id="process_renderer.html">
        {{process.processName}}
        <ul class="list-group" ng-if="process.childProcesses">
            <li class="list-group-item" ng-repeat="process in process.childProcesses track by $index"
                ng-include="'process_renderer.html'">
                <ul ng-if="process.activities">
                    <li class="list-group-item" ng-repeat="activity in process.activities track by $index"></li>
                </ul>
            </li>
        </ul>
        <ul ng-if="process.activities">
            <li class="list-group-item" ng-repeat="activity in process.activities track by $index">{{activity.activityName}}</li>
        </ul>
    </script>
    <div class="col-md-8">
        <ul>
            <li class="list-group-item" ng-repeat="process in structuredProcesses track by $index"
                ng-include="'process_renderer.html'"></li>
        </ul>
            <button type="button" class="btn btn-primary" ng-click="openAddProcessModal()" data-toggle="modal" data-target="#modal">Add process</button>
            <button type="button" class="btn btn-danger" ng-click="openDeleteProcessModal()" data-toggle="modal" data-target="#modal">Delete process</button>
            <button type="button" class="btn btn-primary" ng-click="openAddActivityModal()" data-toggle="modal" data-target="#modal">Add activity</button>
            <button type="button" class="btn btn-danger" ng-click="openDeleteActivityModal()"data-toggle="modal" data-target="#modal">Delete activity</button>
    </div>
    <div ng-include="'../partials/abstract_modal.html'"></div>
</div>